html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.game-container {
  flex-direction: column;
  max-height: 80%;
  border: 40px solid red;
  border-radius: 30px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  background-color: red;
  padding-left: 10%;
  padding-right: 10%;
}

button {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 80px;
}
.pad-container {
  /* border: 1px solid red;
  border-radius: 30px; */
  background-color: aliceblue;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;
  justify-content: center;

  align-content: center;
  overflow: hidden;
}

.unit {
  height: 10px;
  width: 10px;
}

.active {
  background-color: black;
}
/* .colored {
  background-color: coral;
} */

.unit:hover {
  background-color: coral;
}
