html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;
  justify-content: center;

  align-content: center;
  overflow: hidden;
}

.unit {
  height: 1%;
  width: 1%;
}

/* .colored {
  background-color: coral;
} */

.unit:hover {
  background-color: coral;
}
